@font-face {
  font-family: "Exo 2";
  src: url('../fonts/Exo20-Thin.eot?#iefix') format('embedded-opentype'),
  url("../fonts/Exo2-Thin.otf") format("opentype"),
  url('../fonts/Exo2-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: "Trebuchet MS";
  src: url('../fonts/TrebuchetMS.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchet MS Bold';
  src: url('../fonts/TrebuchetMS-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

  body {
    font-family: 'Trebuchet MS', Arial, sans-serif; 
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    background: -webkit-radial-gradient(162% 50%, transparent, rgba(0,0,0,0.6)), url('../img/background.png');
    background: -o-radial-gradient(162% 50%, transparent, rgba(0,0,0,0.6)), url('../img/background.png');
    background: radial-gradient(162% 50%, transparent, rgba(0,0,0,0.6)), url('../img/background.png');
  }

  .main {
    max-width: 1280px;
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-title {
    font-family: "Exo 2", Arial, sans-serif;
    font-size: 36px;
    font-weight: 100;
    margin: 55px 0 34px 0;
    text-align: center;
  }

  .products-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding: 0;
      list-style: none;
      margin: 0;
  }

  .products-list__card-layer::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 61px;
    height: 432px;
   
    border-radius: 0 0 0 10px;
  }

  .products-list__card-layer::before {
    content: "";
    position: absolute;
    border-radius: 1px 9px 0 3px;
    width: 273px;
    height: 39px;
    -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
            transform: skew(-45deg);
    top: 0;
    right: 15px;
    background-color: transparent;
  }
  
  .products-list__card-layer {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 320px;
    min-height: 480px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
  }

  /*стандартная карточка*/

  .layer--default {
    border-right: 5px solid #1698d9;
    border-bottom: 5px solid #1698d9;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
  }

  .layer--default::after {
    border-left: 5px solid #1698d9;
    border-bottom: 5px solid #1698d9;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
  }

  .layer--default::before {
    border-left: 6px solid #1698d9;
    border-top: 5px solid #1698d9;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
  }

  /*конец стадартная карточка*/

  .products-list__card-layer:hover {
      cursor: pointer;
  }

  /*поведение при наведении на стандартную карточку*/

  .layer--default:hover {
    border-right-color: #2ea8e6;
    border-bottom-color: #2ea8e6;
  }

  .layer--default:hover::before {
    border-left-color: #2ea8e6;
    border-top-color: #2ea8e6;
  }

  .layer--default:hover::after {
    border-left-color: #2ea8e6;
    border-bottom-color: #2ea8e6;
  }

  .layer--default:hover ~ .product-weight {
    background-color: #2ea8e6;
  }

  /*конец поведения при наведении*/

  /*выбранная карточка*/
  .toggle-select:checked ~ .layer--selected {
    border-right-color: #d91667;
    border-bottom-color: #d91667;
  }

  .toggle-select:checked ~ .layer--selected::before {
    border-left-color: #d91667;
    border-top-color: #d91667;
  }

  .toggle-select:checked ~ .layer--selected::after {
    border-left-color: #d91667;
    border-bottom-color: #d91667;
  }

  .toggle-select:checked ~ .product-weight {
    background-color: #d91667;
  }

  /*конец выбранная карточка*/

  /*поведение при наведении на выбранную карточку*/
  .toggle-select:checked ~ .layer--selected-hover:hover {
    border-right-color: #e62e7a;
    border-bottom-color: #e62e7a;
  }

  .toggle-select:checked ~ .layer--selected-hover:hover::before {
    border-left-color: #e62e7a;
    border-top-color: #e62e7a;
  }

  .toggle-select:checked ~ .layer--selected-hover:hover::after {
    border-left-color: #e62e7a;
    border-bottom-color: #e62e7a;
  }

  /*Такие селекторы вообще законны?!*/
  .toggle-select:checked ~ .layer--selected-hover:hover ~ .product-weight {
    background-color: #e62e7a;
  }

  /*конец поведения при наведении*/

  .products-list__card {
      position: relative;
      /* width: 100%;  */
      min-width: 320px;;
      min-height: 480px;
      padding-bottom: 85px;
      background-image: url('../img/product-card.png');
      background-repeat: no-repeat;
      background-size: 320px 480px;
  }

  .products-list__card:first-child{
    margin-left: 80px;
  }

  .products-list__card {
      margin-right: 80px;
  }

  .card-description {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 0 1px 0;
    bottom: 9%;
    left: 50%;
    font-size: 13px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .card-description--unavailable {
    color: #ffff66;
  }

  .card-link {
    color: #1698d9;
  }

  .card-link:hover {
      cursor: pointer;
  }

  .card-link--default {
      border-bottom: 1px #1698d9 dashed;
  }

  .card__product-info {
    position: absolute;
    left: 15%;
    /* max-width: 190px; */
    margin: 0 auto;
  }

  .card-title {
    margin-top: 22px;
      font-size: 14px;
      color: #666666;
  }

  .product-description {
    color: #666666;
  }

  .product-description > p {
    margin: 0 0 -4px 0;
  }

  .product-title {
    font-family: 'Trebuchet MS Bold', Arial, sans-serif; 
    color: #000000;
  }

  .product-title__main {
    font-size: 48px;
    margin: 22px 0 -4px -1px;
  }

  .product-title__adding {
    margin-bottom: 17px;
      font-size: 24px;
  }

  .portions__number,
  .present__number {
    font-family: 'Trebuchet MS Bold', Arial, sans-serif; 
  }

  .product-weight {
    position: absolute;
    bottom: 100px;
    right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1698d9;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    /* потом запихнуть в переменную? */
    color: #ffffff;
  }

  .product-weight__text {
    position: inherit;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -19%;
    font-size: 23px;
  }

  .product-weight__number {
      font-size: 42px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      margin-top: -18px;
  }

  /*заблокированная карточка*/
  .toggle-select:disabled ~ .layer--disabled {
    border-right-color: #b3b3b3;
    border-bottom-color: #b3b3b3;
    background: -webkit-gradient(linear, left top, right top, color-stop(21%, transparent), color-stop(21%, rgba(255,255, 255, 0.5)));
    background: -webkit-linear-gradient(left, transparent 21%, rgba(255,255, 255, 0.5) 21%);
    background: -o-linear-gradient(left, transparent 21%, rgba(255,255, 255, 0.5) 21%);
    background: linear-gradient(to right, transparent 21%, rgba(255,255, 255, 0.5) 21%);
  }

  .toggle-select:disabled ~ .layer--disabled:hover {
    cursor: default;
  }

  .toggle-select:disabled ~ .layer--disabled::before {
    border-left-color: #b3b3b3;
    border-top-color: #b3b3b3;
    background: -webkit-linear-gradient(225deg, transparent 80%, rgba(255,255, 255, 0.5) 67%);
    background: -o-linear-gradient(225deg, transparent 80%, rgba(255,255, 255, 0.5) 67%);
    background: linear-gradient(-135deg, transparent 80%, rgba(255,255, 255, 0.5) 67%);
  }

  .toggle-select:disabled ~ .layer--disabled::after {
    border-left-color: #b3b3b3;
    border-bottom-color: #b3b3b3;
    background: rgba(255,255, 255, 0.5);
  }

  .toggle-select:disabled ~ .layer--disabled ~ .product-weight {
    background-color: #b3b3b3;
  }

  .toggle-select:disabled ~ .card__product-info > .card-title,
  .toggle-select:disabled ~ .card__product-info > .product-title,
  .toggle-select:disabled ~ .card__product-info > .product-description {
    color: #d4d4d4;
  }

  .toggle-select:disabled ~ .card-description--available,
  .toggle-select:not(:disabled) ~ .card-description--unavailable {
    visibility: hidden;
  }

  /*конец заблокированная карточка #d4d4d4*/

  /*media*/

  @media screen and (max-width: 1024px) {
    .products-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }

    .main {
      top: 0;
      position: relative; 
      left: 0;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    .products-list__card,
    .products-list__card:first-child {
      margin: 0 0;
    }
  }

  @media screen and (max-width: 490px) {
    .main-title {
      line-height: 1em;
    }
  }