.card_selected-hover {
  border-right-color: #e62e7a;
  border-bottom-color: #e62e7a;
}

.card_selected-hover::before {
  border-left-color: #e62e7a;
  border-top-color: #e62e7a;
}

.card_selected-hover::after {
  border-left-color: #e62e7a;
  border-bottom-color: #e62e7a;
}
