.card__weight_text {
  position: inherit;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -19%;
  font-size: 23px;
}