.products {
  @include font-param(map-get($font-stack, trebuchet),map-get($font-weights, regular),16px,normal, #ffffff,20px);

  &__item {
    position: relative;
    padding-bottom: 85px;

    @media screen and (min-width: 1200px) {
      margin-right: 80px;

      &:first-child {
        margin-left: 80px;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

    @media screen and (max-width: 1080px) {
      flex-wrap: wrap;
    }
  }
}

