.main {
  background: url('../img/background.png');
  padding: 0;
  margin: 0;

  &__container {
    max-width: 1280px;
    width: 100%;
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    @include font-param(map-get($font-stack, exo2),map-get($font-weights, thin),36px,normal,white,24px);
    // margin: 56px 0 36px 0;
    text-align: center;
  }

}