/* .card__layer {
  position: relative;
  min-width: 320px;;
  min-height: 480px;
  padding-bottom: 85px;
  margin-right: 80px;
  background-image: url('../../../../img/product-card.png');
  background-repeat: no-repeat;
  background-size: 320px 480px;
} */
/* 
.products-list__card:first-child{
  margin-left: 80px;
} */