.card__buy-me {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0 0 1px 0;
  bottom: -7%;
  left: 50%;
  font-size: 13px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}