@font-face {
  font-family: 'Trebuchet MS Bold';
  src: url('../../../../../fonts/TrebuchetMS-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.card__name_main {
  font-family: 'Trebuchet MS Bold', Arial, sans-serif;
  font-size: 48px;
  margin: 22px 0 -4px -1px;
}